 <div class="user-details">
  <h1>👩🏻‍💻 ABOUT ME</h1>
  <!-- <p> {{site.user_description}} </p> -->
  <p>
    <b>안녕하세요. 즐겁게 일하는 벡앤드 개발자 신경주 입니다.</b><br>
    나는 어떤 개발자가 되어야 할까? 개발 공부를 하면서 고민해왔습니다.<br>
    창의적인 개발자, 근성있는 개발자, 자기개발을 열심히 하는 개발자의 모습을 상상했지만
    저는 결국 개발을 즐기면서 하고싶다는 생각을 했습니다.<br>
    언제나 커피 한잔에도 웃으며 성장할 수 있는 개발자가 되고 싶습니다.
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
