 <div class="user-details">
  <h1>👩🏻‍💻 ABOUT ME</h1>
  <p>
    <b>안녕하세요. 즐겁게 일하는 벡앤드 개발자 신경주 입니다.</b><br>
    나는 어떤 개발자가 되어야 할까? 개발 공부를 하면서 고민해왔습니다.<br>
    창의적인 개발자, 근성있는 개발자, 자기개발을 열심히 하는 개발자의 모습을 상상했지만<br>
    저는 결국 개발을 즐기면서 하고싶다는 생각을 했습니다.<br>
    언제나 커피 한잔에도 웃으며 성장할 수 있는 개발자가 되고 싶습니다.
    <br><br>
    22년 6월 <b>'MSA 풀스택 JAVA 개발자'</b> 국비지원 교육을 통해 콘솔창에 "Hello World"를 출력하며 개발자로서의 첫 발을 내딛었습니다.<br>
    JAVA, Oracle등의 언어를 배우며 그 매력에 빠져 더 좋은 벡앤드 개발자가 되기 위해 노력하고 있습니다.<br>
    <b>개발과 JAVA언어를 좋아하며, 아직은 배울 것이 많지만 그만큼 더 성장할 수 있음에 감사합니다.</b>
  </p>
</div>
<!-- https://devicon.dev/ -->
  <div class="user">
    <div class="tech">
      <h2>FrontEnd</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>
        HTML5, CSS3, JavaScript, React
      </p>
    </div>
    <div class="tech">
      <h2>BackEnd</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <i class="devicon-apache-plain-wordmark colored"></i>
      <p>
        JAVA, Servlet, JSP, JDBC, Oracle
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" />
      <i class="devicon-git-plain"></i>
      <p>
        Git, Spring Boot, Eclipse, VSCode, Postman,<br>Modeler5, Slack, Notion, Figma, Whimsical
      </p>
    </div>
</div>
