 <div class="user-details">
  <h1>👩🏻‍💻 ABOUT ME</h1>
  <p style="line-height: 25px;">
    <b>안녕하세요. JAVA능력 향상을 목표로 하는 백앤드 개발자 신경주 입니다.</b><br>
    나는 어떤 개발자가 되어야 할까? 개발 공부를 하며 고민해왔습니다.<br>
    JAVA를 객체지향적으로 사용하기 위해 클린 코드 규칙을 공부하며, TestCode의 구조를 고민하고,<br>
    코드리뷰를 진행하며 피드백을 주고 받는 과정을 통해 노력하며 성장하고 있습니다.
    <br><br>
    <!-- <b>HandlerInterceptor를 이용한 제어 처리, MockMvc를 통한 테스트 코드 작성,<br> EntityManager와 영속성 컨텍스트, 람다와 스트림에 대한 학습 및 구현을 진행하고 있으며,<br>
    Exception을 Handler 하는것과 Native Query를 통해 Interface에 조건 쿼리문을 작성하는것을 좋아합니다.</b> -->
  </p>
</div>
<!-- https://devicon.dev/ -->
  <div class="user">
    <div class="tech">
      <h2>FrontEnd</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <p>
        JavaScript, React, Redux, Ajax, HTML5, CSS3
      </p>
    </div>
    <div class="tech">
      <h2>BackEnd</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <i class="devicon-apache-plain-wordmark colored"></i>
      <p>
        JAVA, Spring Framework,<br>Spring Security, Apache Tomcat,<br> JPA, Native Query, Servlet, JSP,<br> JUnit-Jupiter, Oracle DBMS, RestAPI
      </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="https://www.vectorlogo.zone/logos/springio/springio-icon.svg"></img>
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Visual_Studio_Code_1.35_icon.svg" style="width: 75px;"></img>
      <i class="devicon-git-plain"></i>
      <p>
        Github, STS4, Eclipse, VSCode,<br>Postman, Modeler5, Slack, Notion, Figma, Whimsical
      </p>
    </div>
</div>
