<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <!-- https://fontawesome.com/v5/icons/github-alt?s=solid&f=brands -->
        <a aria-label="Send email" href="mailto:tlsrudwn1103@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <!-- <a aria-label="My Tell" target="_blank" href="https://www.notion.so/63223f4effaa4993bedaea34ab62ebf6"><i class="fab fa-whatsapp" aria-hidden="true"></i></a> -->
        <a aria-label="My Github" target="_blank" href="https://github.com/Shinkju"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Notion" target="_blank" href="https://www.notion.so/593b1e4f8c7d4b5cabc6a4149b48406b?v=a91a488c69994abcab3a4112dfa666b3"><i class="icon fa-sharp fa-solid fa-book" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
