<div class="user-details">
  <h1> Project Records </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/semi.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HiceCoffee Project </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>HiceCoffe는 커피 판매 쇼핑몰 사이트입니다.<br>상품 구매를 비롯한 리뷰작성 및 다양한 인기원두와 오프라인 판매 매장의 위치까지 확인 가능하며, CRUD가 가능한 사이트 입니다.</p>
    <br><p>
      <b>참여인원 : </b> 7명<br>
      <b>개발기간 : </b> 22.10.05~22.10.17
    </p>
    <br><p>
      <b style="color: red;">Client</b> JAVA, JavaScript, CSS, HTML<br>
      <b style="color: red;">Server</b> Apache Tomcat
    </p>
    <a class="project-link" href="https://www.notion.so/HiceCoffee-f07488a663034ba7be8b4f1f700f4bf3">Go check Notion</a>
    <a class="project-link" href="https://github.com/sme1029/semi_front_door">Go check Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Go check it</a>
  </div>
</div>
