<div class="user-details">
  <h1> Project Records </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 355px; height: 450px;" src="{{ "/assets/img/unicon.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> UNICON </h3>
    <p>
      온라인 학습 관리 시스템(LMS)<br>
      시간과 공간에 제약 받지 않는 높은 유연성과 자율성을 가진 학습 구조로,
      비대면 영상 학습 및 출결, 공지사항 확인 등이 가능한
      <b>Spring Boot기반 Rest API 서버와 React.js SPA로 구현한 프로젝트</b>
    </p>
    <p>
      <b>참여인원 : </b> 5명<br>
      <b>총 진행기간 : </b> 22.11.04 ~ 22.12.09
    </p>
    <p>
      <b>역할</b><br>
      <b>✔</b>&nbsp jwt 토큰을 사용한 사용자 로그인 기능 구현<br>
      <b>✔</b>&nbsp 비대면 학습 영상 시청 기능 및 자동 출결 처리 기능 구현<br>
      <b>✔</b>&nbsp 교수 수업자료 및 학생의 과제 업로드 기능<br>
      <b>✔</b>&nbsp 교수 및 학생의 담당/수강 강좌 리스트 및 상세 페이지 정보 조회 기능
    </p>
    <p>
      <b style="color: red;">Framework</b>&nbsp STS4, VsCode<br>
      <b style="color: red;">DBMS</b>&nbsp Oracle DBMS<br>
      <b style="color: red;">Collaboration Tools</b>&nbsp Github, Notion, Slack, Postman, Modeler5
    </p>
    <a class="project-link" target=”_blank” href="https://github.com/ytonads/finalvscode">Go Github(Front)</a>
    <a class="project-link" target=”_blank” href="https://github.com/ytonads/Study-Family">Go Github(Back)</a>
    <a class="project-link" target=”_blank” href="https://www.notion.so/UNICON-ba70f59c96a642b09d356c2b287d982f">Go Notion</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 355px; height: 450px;" src="{{ "/assets/img/hiceCoffee.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HiceCoffee </h3>
    <p>
      사용자가 이용할 수 있는 원두상품 쇼핑몰 서비스 구현<br>
      상품 구매와 리뷰작성 및 인기원두와 오프라인 판매 매장의 위치 확인 가능, CRUD가 가능한
      <b>Spring Boot기반 서버사이드 렌더링으로 구현한 프로젝트</b>
    </p>
    <p>
      <b>참여인원 : </b> 7명<br>
      <b>총 진행기간 : </b> 22.10.05 ~ 22.10.17
    </p>
    <p>
      <b>역할</b><br>
      <b>✔</b>&nbsp 조회수 기준의 인기상품 조회 동적 페이지 구현<br>
      <b>✔</b>&nbsp Thymeleaf문법과 EL표현식을 활용한 매장 게시판<br>
      <b>✔</b>&nbsp kakao 지도 API 활용 및 매장 게시판 CRUD 기능 구현<br>
      <b>✔</b>&nbsp 매장 서비스의 Hibernate N+1 문제 해소<br>
    </p>
    <p>
      <b style="color: red;">Framework</b>&nbsp STS4<br>
      <b style="color: red;">DBMS</b>&nbsp Oracle DBMS<br>
      <b style="color: red;">API</b>&nbsp kakao 지도 API, kakaoPay 결제 API<br>
      <b style="color: red;">Collaboration Tools</b>&nbsp Github, Notion, Slack, Modeler5
    </p>
    <a class="project-link" target=”_blank” href="https://www.notion.so/HiceCoffee-f07488a663034ba7be8b4f1f700f4bf3">Go Notion</a>
    <a class="project-link" target=”_blank” href="https://github.com/sme1029/semi_front_door">Go Github</a>
  </div>
</div>
<br>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 355px; height: 450px;" src="{{ "/assets/img/petmily.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> PETMILY </h3>
    <p>
      React를 활용한 유기견 입양 서비스<br>
      여러 지역의 유기견 정보를 확인 및 입양 신청서까지 비대면으로 작성 가능한
      <b>React 기반의 프로젝트</b>
    </p>
    <p>
      <b>참여인원 : </b> 4명<br>
      <b>총 진행기간 : </b> 22.08.15 ~ 22.08.22
    </p>
    <p>
      <b>역할</b><br>
      <b>✔</b>&nbsp 사용자의 입양 신청서 작성 데이터 저장<br>
      <b>✔</b>&nbsp 사용자 입력값 누락 시 alert창 안내 및 제출 버튼 비활성화 기능 구현<br>
      <b>✔</b>&nbsp 사용자 입력폼 누락 안내 코드를 클린코드로 리팩토링<br>
      <b>✔</b>&nbsp 유기견 입양 페이지 및 홈페이지 메인 UI 제작
    </p>
    <p>
      <b style="color: red;">Framework</b>&nbsp VsCode<br>
      <b style="color: red;">Collaboration Tools</b>&nbsp Github, Notion, Slack
    </p>
    <a class="project-link" target=”_blank” href="https://www.notion.so/PETMILY-d2025b01633f466aa56f9cd98089c0b4">Go Notion</a>
    <a class="project-link" target=”_blank” href="https://github.com/Shinkju/Toy-project">Go Github</a>
  </div>
</div>
<br>
<div class="user-projects">
  <div class="images-left">
    <img style="width: 355px; height: 450px;" src="{{ "/assets/img/eatopia.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> EATOPIA </h3>
    <p>
      서울 종로구의 맛집 리스트를 보여주는 서비스<br>
      종로구의 맛집 API, 날씨 API를 사용하여 정보를 보여주는<br>
      <b>코틀린 안드로이드 프로젝트</b>
    </p>
    <p>
      <b>참여인원 : </b> 3명<br>
      <b>총 진행 기간 : </b> 22.10.27 ~ 22.11.01
    </p>
    <p>
      <b>역할</b><br>
      <b>✔</b>&nbsp 종로구 맛집 Open API를 이용한 List 페이지 구현<br>
      <b>✔</b>&nbsp List 클릭 시 상세 Fragment 페이지 구현<br>
      <b>✔</b>&nbsp 오늘의 날씨 Open API를 이용한 현 시간 기준 6시간 까지의 날씨와 기온 등의 정보 기능 구현<br>
    </p>
    <p>
      <b style="color: red;">Framework</b>&nbsp intelliJ<br>
      <b style="color: red;">API</b>&nbsp 종로구 음식점 Open API, 오늘의 날씨 Open API<br>
      <b style="color: red;">Collaboration Tools</b>&nbsp Github, Notion, Slack
    </p>
    <a class="project-link" target=”_blank” href="https://www.notion.so/EATOPIA-27c0728fdf0e4396bbb4e1a35b43f42b">Go Notion</a>
    <a class="project-link" target=”_blank” href="https://github.com/Shinkju/EATOPIA">Go Github</a>
  </div>
</div>